{{#credit-report-form
  class="b"
  model=model
  onSubmit=(action "submit") as |crf|}}

  {{#if crf.errors.length}}
  <div class="a">
    &lt;--yielded content--&gt;
    <h2>Warning: component yielded {{crf.errors.length}} errors</h2>
  </div>
  {{/if}}
{{/credit-report-form}}

{{link-to "asdf" "asdf"}}

{{outlet}}