{{#credit-report-form
  class="b"
  changeset=model.changeset
  model=model.model
  onSubmit=(action "submit")
  onValidate=(action "validateField") as |crf|}}
  {{#if crf.errors.length}}
    <div class="a">
      <h2>Warning: component yielded {{crf.errors.length}} errors</h2>
    </div>
  {{/if}}
{{/credit-report-form}}

{{link-to "go to another route" "asdf"}}

{{outlet}}